<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Contacts - All</title>
</head>
<body>
<h1>Contacts - All</h1>
<p><a href="/contacts/new">Create New Contact</a></p>
<table>
  <thead>
    <tr>First Name</tr>
    <tr>Last Name</tr>
  </thead>
  <tbody>
    <% $rolodex.contacts.each do |contact| %>
    <tr>
      <td><%= contact.first_name %></td>
      <td><%= contact.last_name %></td>
    </tr>
    <% end %>
  </tbody>

</table>
</body>
</html>