<main><h3>Contacts</h3>

  <p><a href="/contacts/new">Create New Contact</a></p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <% $rolodex.contacts.each do |contact| %>
        <tr>
          <td><%= contact.pkid %></td>
          <td><%= contact.first_name %></td>
          <td><%= contact.last_name %></td>
        </tr>
    <% end %>
    </tbody>

  </table>
</main>