<main>
  <header><h3>Main Menu</h3></header>
  <div class="list-group">
    <a class="list-group-item" href="/contacts">Display All Contacts</a>
    <a class="list-group-item" href="/contacts/new">Create New Contact</a>
  </div>
</main>
