<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>CRM Web - <%= @title.to_s %></title>
  <link rel="stylesheet" href="/bootstrap.css"/>
</head>
<body>
<div class="container"><div class="row">
  <section class="col-md-4">
    <h1>CRMWeb<small>For BitMaker Labs</small></h1>
    <nav>
      <div class="nav nav-pills nav-stacked">
        <a class="list-group-item" href="/">Main Menu</a>
        <a class="list-group-item" href="/contacts">Contacts</a>
        <a class="list-group-item" href="/contacts/new">Create Contact</a>
      </div>
    </nav>
  </section>
  <div class="col-md-8"><%= yield %></div>

</div></div>

</body>
</html>