<h1>Add NEw ContactAll</h1>
<form method="post" action="/contacts/new">
  <input type="text" name="first_name" placeholder="First Name">
  <input type="text" name="last_name" placeholder="Last Name">
  <input type="text" name="email_address" placeholder="example@example.com">
  <input type="text" name="notes" placeholder="notes">
  <input type="text" name="ID" placeholder="ID">
  <input type="submit" name="Submit">
</form>
